@use '../../abstracts/variables' as *;

.form {
     padding: 1rem;

     .form-control {
          margin-bottom: 1rem;

          input,
          label {
               display: block;
          }

          label {
               margin-bottom: 0.5rem;

               font-weight: bold;
          }

          input {
               width: 100%;
               padding: 0.5rem;

               border: 1px solid $border-dark-opace;
               border-radius: 4px;

               background-color: $bg-primary-light;
               font: inherit;
          }

          input:focus {
               outline: none;
               border-color: $border-dark;
          }
     }

     .actions {
          display: flex;
          justify-content: space-between;
     }
}
