@use '../../abstracts/variables' as *;

.book {
     box-shadow: 0 6px 15px 0 $border-dark-opace;

     .cover {
          position: relative;

          width: 145px;
          height: 205px;

          img {
               width: 100%;
          }
     }

     .content {
          padding: 0.5rem 0.3rem;

          .description {
               display: flex;
               flex-direction: column;

               h3 {
                    margin: 0;
                    margin-bottom: 0.5rem;

                    font-weight: bold;
               }
          }

          .actions {
               button {
                    margin-top: 0.5rem;
                    width: 100%;
               }
          }
     }
}
