@use './abstracts/variables' as *;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;

  background-color: $bg-primary-dark;
}

button {
  padding: 0.5rem;

  border: 1px solid $bg-primary-violet;

  text-align: center;
  background-color: $bg-primary-violet;
  color: $text-color;
  font: inherit;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $bg-primary-violet-hover;
    border-color: $bg-primary-violet-hover;
  }
}
